article {
	background-color: var(--color-body);
}

article > section {
	background-color: var(--color-section);
	border-radius: var(--size-border-radius);
}

article > section:last-child {
	padding: var(--element-gap-medium);
	display: flex;
	gap: var(--element-gap-medium);
}

article > section:last-child > * {
	flex: 1 1 0;
}

article > section:has(p) {
	padding: var(--element-gap-medium);
}

article > section > p {
	padding: 0px;
}

/* Mobile Devices */

@media (max-width: 1023px) {
	article > section:last-child > a:nth-child(1),
	article > section:last-child > a:nth-child(2) {
		display: none;
	}
}
