main {
	flex: 1;
	display: flex;
    justify-content: center;
    align-items: center;
}

main > article {
	width: 50%;
}

article > section {
	padding: var(--element-gap-medium);
}

article > section > p,
article > section > h1,
article > section > h3 {
	margin: var(--element-gap-small);
	padding: 0px;
	overflow-wrap: break-word;
}

article > section:first-child {
	text-align: center;
}

textarea, input {
	display: block;
	width: 100%;
}

textarea {
	margin-bottom: var(--element-gap-medium);
	overflow: auto;
	white-space: normal;
}

.feedback-reply {
	background-color: var(--color-textinput-body);
	border-radius: var(--size-border-radius);
	margin: var(--element-gap-medium);
	padding: var(--element-gap-medium);
}

.feedback-reply-controls {
	display: flex;
	padding: 0px;
	margin: var(--element-gap-medium);
}

.feedback-reply-controls > .filler {
	flex: 1 1 0;
}

input {
	text-align: center;
}

form section:has(input[type="submit"]) {
	margin-top: var(--element-gap-medium);
	display: flex;
	gap: var(--element-gap-medium);
}

form section:has(input[type="submit"]) > * {
	flex: 1 1 0;
}

/* Mobile Devices */

@media (max-width: 1023px) {
	main > article {
		width: 100%;
	}
	
	form section:has(input[type="submit"]) {
		flex-direction: column;
	}
}
