/* Home Page */

section.home-page-heading {
	display:     flex;
	align-items: center;
}

h1.home-page-text {
	margin-bottom: 30.4px;
}

img {
	border:        var(--size-border-width) solid var(--color-button-body);
	border-radius: var(--size-border-radius);
	
	width:  var(--image-size-main-page);
	height: var(--image-size-main-page);
}

img.website-mascot {
	width:  var(--image-size-big);
	height: var(--image-size-big);
	border: none;
}

.home-page-text {
	flex-grow: 1;
	
	text-align: center;
}

section.entity-container {
	display:         flex;
	justify-content: space-between;
	gap:             var(--element-gap-medium);
	
	overflow-x:      auto;
	scrollbar-color: var(--color-button-body) var(--color-section);
}

section.entity-container > a {
	text-align: center;
}

section.entity-container > a > img {
	display:    block;
	box-sizing: border-box;
}

section.entity-container > a > h3 {
	overflow-wrap: break-word;
	
	max-width: var(--image-size-main-page);
}

section.entity-container > a:hover > img {
	border: var(--size-border-width) solid var(--color-button-body-hover);
}

/* Mobile Devices */

@media (max-width: 767px) {
	img.website-mascot {
		display: none;
	}
	
	h1.home-page-text {
		margin-bottom: 0;
	}
	
	.home-page-heading p {
		display: none;
	}
	
	section.entity-container {
		display:               grid;
		grid-template-columns: 1fr;
	}
	
	section.entity-container > a {
		display:     flex;
		gap:         var(--element-gap-medium);
		align-items: center;
	}
	
	section.entity-container > a > h3 {
		max-width:  none;
		max-height: var(--image-size-tiny);
		overflow:   hidden;
		position:   relative;
		text-align: left;
	}
	
	h3::after {
		position: absolute;
		bottom:   calc(100% - var(--image-size-tiny));
		right:    0;
		
		background: var(--color-section);
		content:    "\2026";
	}
	
	section.entity-container > a > img {
		width:  var(--image-size-tiny);
		height: var(--image-size-tiny);
	}
	
	section.entity-container > a:nth-child(n + 4) {
		display: none;
	}
}
