/* Home Page */

section.home-page-heading {
	display:     flex;
	align-items: center;
}

h1.home-page-text {
	margin-bottom: 30.4px;
}

img {
	border:        var(--size-border-width) solid var(--color-button-body);
	border-radius: var(--size-border-radius);
	
	width:  var(--image-size-main-page);
	height: var(--image-size-main-page);
}

img.website-mascot {
	width:  var(--image-size-big);
	height: var(--image-size-big);
	border: none;
}

.home-page-text {
	flex-grow: 1;
	
	text-align: center;
}

section.entity-container {
	display:         flex;
	justify-content: space-between;
	gap:             var(--element-gap-medium);
	
	overflow-x:      auto;
	scrollbar-color: var(--color-button-body) var(--color-section);
}

section.entity-container > a {
	text-align: center;
}

section.entity-container > a > img {
	display:    block;
	box-sizing: border-box;
}

section.entity-container > a > h3 {
	overflow-wrap: break-word;
	
	max-width: var(--image-size-main-page);
}

section.entity-container > a:hover > img {
	border: var(--size-border-width) solid var(--color-button-body-hover);
}

section.entity-container > a:focus > img {
	border: var(--size-border-width) solid var(--color-button-body-focus);
}

/* Mobile Devices */

@media (max-width: 1023px) {
	.website-mascot {
		display: none;
	}
	
	.home-page-heading p {
		display: none;
	}
	
	img {
		width: var(--image-size-small);
		height: var(--image-size-small);
	}
	
	h3 {
		display: none;
	}
}
