section.active-elements {
	display: flex;
	gap: var(--section-margin);
}

section.active-elements > input {
	flex: 4 1 0;
}

section.active-elements > .custom-button {
	flex: 1 1 0;
}

/* Mobile Devices */

@media (max-width: 1023px) {
	.active-elements > a {
		display: none;
	}
}
