section:has(table) {
	display: flex;
	flex-direction: column;
}

table {
	table-layout:    fixed;
	border-collapse: collapse;
	
	border: 0;
	margin: var(--element-gap-medium);
}

td, th {
	padding: var(--element-gap-medium);
	border:  0;
}

tr:first-child {
	text-align: center;
}

tr > *:nth-child(1), tr > *:nth-child(2) {
	width: 10%;
}

tr > *:nth-child(4), tr > *:nth-child(5) {
	width: 17%;
}

tr > *:nth-child(1), tr > *:nth-child(2), tr > *:nth-child(4), tr > *:nth-child(5) {
	vertical-align: center;
	text-align:     center;
}

tr > *:nth-child(4) > a, tr > *:nth-child(5) > a {
	display: block;
}

/* Selection */

tr:hover {
	background-color: var(--color-table-body-body-hover);
}

tr:hover > *:first-child {
	border-top-left-radius:    var(--size-border-radius);
	border-bottom-left-radius: var(--size-border-radius);
}

tr:hover > *:last-child {
	border-top-right-radius:    var(--size-border-radius);
	border-bottom-right-radius: var(--size-border-radius);
}

@media (max-width: 1023px) {
	section > table th:nth-child(4),
	section > table th:nth-child(5),
	section > table td:nth-child(4),
	section > table td:nth-child(5) {
		display: none;
	}
}
