.lyrics-controls {
	display: flex;
}

.lyrics-controls > section {
	flex: 1 1 0;
	text-align: center;
}

.lyrics-controls .custom-searchable-select-shown-value {
	text-align:      center;
	text-align-last: center;
	
	/* Must be equal to the value of padding-right in select.css */
	padding-left: calc(var(--element-gap-medium) + 36px);
}

.lyrics-section span {
	line-height: 2.25;
	border-radius: var(--size-border-radius);
	margin: 0;
}

.lyrics-section span.text-line {
	display: block;
	
	overflow-wrap: break-word;
	white-space:   break-spaces;
}

.lyrics-section > section:nth-child(1) > span:hover,
.lyrics-section > section:nth-child(2) > span:hover,
span.hovered-simultaneously {
	background-color: var(--color-textline-body-hover);
}

.lyrics-section {
	display:               grid;
	grid-template-columns: 1fr 1fr;
	gap:                   var(--element-gap-big);
	
	background-color: var(--color-body);
	
	padding: 0;
}

.lyrics-section > section {
	background-color: var(--color-section);
	border-radius:    var(--size-border-radius);
	
	margin:  0;
	padding: calc(var(--element-gap-medium) * 2);
}

.lyrics-section > section:nth-child(5) p,
.lyrics-section > section:nth-child(6) p {
	margin-top:    var(--element-gap-medium);
	margin-bottom: var(--element-gap-medium);
}

.lyrics-section > section:nth-child(7),
.lyrics-section > section:nth-child(8) {
	display: flex;
	gap:     calc(var(--element-gap-medium) * 2);
}

.lyrics-section > section:nth-child(7) > *,
.lyrics-section > section:nth-child(8) > * {
	flex: 1 1 0;
}

a.note-small, a.note-big {
	text-decoration: none;
	
	vertical-align: top;
}

a.note-small {
	font-size: calc(var(--font-size-plain) * 2 / 3);
}

/* Mobile Devices */

@media (max-width: 767px) {
	.lyrics-controls {
		display: none;
	}
	
	.lyrics-section {
		display: grid;
		grid-template-columns: 1fr;
	}
	
	.lyrics-section > section:nth-child(2n) {
		display: none;
	}
	
	.lyrics-section > section:nth-child(1) > span:hover {
		background-color: initial;
	}
	
	.lyrics-section > section:nth-child(7) > a:nth-child(1),
	.lyrics-section > section:nth-child(7) > a:nth-child(2) {
		display: none;
	}
}
