main {
	display: flex;
	flex:    1;
	
    justify-content: center;
    align-items:     center;
}

article {
	width: 50%;
}

article > section {
	text-align: center;
}

article > section > * {
	margin-top:    0;
	margin-bottom: 0;
}

form input {
	width: 100%;
	
	text-align: center;
}

form textarea {
	width: 100%;
}

form section:has(input[type="submit"]) {
	margin-top: var(--element-gap-medium);
	
	display: flex;
	gap:     var(--element-gap-medium);
}

form section:has(input[type="submit"]) > *:not(.filler):not(.custom-checkbox) {
	flex: 1 1 0;
}

form section:has(input[type="submit"]) > .custom-checkbox {
	flex: 0 0 auto;
	justify-content: right;
}

.filler {
	flex: 5 1 0;
}

.mobile-device-blocker {
	display: none;
}

/* Mobile Devices */

@media (max-width: 767px) {
	article {
		width: 100%;
	}
	
	article > *:not(.mobile-device-blocker, .page-heading) {
		display: none;
	}
	
	.mobile-device-blocker {
		display: block;
	}
}
