main {
	flex: 1;
	display: flex;
    justify-content: center;
    align-items: center;
}

article {
	width: 50%;
}

article > section {
	text-align: center;
}

article > section > * {
	margin-top: 0;
	margin-bottom: 0;
}

form input {
	width: 100%;
	text-align: center;
}

form textarea {
	width: 100%;
}

form section:has(input[type="submit"]) {
	margin-top: var(--section-padding);
	display: flex;
	gap: var(--section-padding);
}

form section:has(input[type="submit"]) > *:not(.filler):not(.custom-checkbox) {
	flex: 1 1 0;
}

form section:has(input[type="submit"]) > .custom-checkbox {
	flex: 0 0 auto;
	justify-content: right;
}

.filler {
	flex: 5 1 0;
}

/* Mobile Devices */

@media (max-width: 1023px) {
	article {
		width: 100%;
	}
}
