/* Only Hanazono Mincho Type A supports: кириллица, Latin script, 漢字 */

@font-face {
	font-family: HanazonoMinchoTypeA;
	src: url('/css/fonts/hanazono-mincho-type-a.woff2') format('woff2'),
	     url('/css/fonts/hanazono-mincho-type-a.ttf') format('truetype');
}

:root {
	--font-family: HanazonoMinchoTypeA;
}
