:root {
	--size-border-radius: 10px;
	--size-border-width:  2px;
	
	--font-size-h1:       32px;
	--font-size-h2:       24px;
	--font-size-h3:       16px;
	--font-size-plain:    16px;
	--font-size-security: 32px;
	
	--element-gap-big:    32px;
	--element-gap-medium: 10px;
	--element-gap-small:  4px;
	
	/* Depends on the font-size and max count of lines to look good */
	--image-size-main-page: 128px;
	--image-size-big:       180px;
	--image-size-medium:    105.6px;
	--image-size-small:     89.6px;
}
