.custom-button,
.custom-submit {
	margin-top:     var(--element-gap-small);
	margin-bottom:  var(--element-gap-small);
	padding:        var(--element-gap-medium);
	
	background-color: var(--color-button-body);
	color:            var(--color-button-text);
	border-radius:    var(--size-border-radius);
	
	font-family: var(--font-content);
	font-size:   var(--font-size-plain);
	
	text-decoration: none;
	cursor:          pointer;
	
	text-align:    center;
	align-content: center;
	
	border: 0;
	
	outline: none;
}

.custom-button:hover,
.custom-submit:hover {
	background-color: var(--color-button-body-hover);
	color:            var(--color-button-text-hover);
	
	outline: none;
}

.custom-button:focus,
.custom-submit:focus {
	background-color: var(--color-button-body-focus);
	color:            var(--color-button-text-focus);
	
	outline: none;
}

.custom-button:disabled,
.custom-button.disabled,
.custom-submit:disabled {
	background-color: var(--color-button-body-disabled);
	color:            var(--color-button-text-disabled);
	
	text-decoration: line-through;
	cursor:          not-allowed;
	
	outline: none;
}
