.custom-checkbox-input {
	display: none;
}

.custom-checkbox:has(.custom-checkbox-input) {
	margin: var(--text-margin);
	padding: 0px;
	
	width: fit-content;
	
	display: inline-flex;
    justify-content: center;
    align-items: center;
	
	cursor: pointer;
}

.custom-checkbox:has(.custom-checkbox-input) > .custom-checkbox-label {
	flex: 0 0 auto;
	
	margin: 0px;
	padding: var(--section-padding);
	box-sizing: border-box;
	
	color: var(--color-text-placeholder);
	
	/* The text can be splitted into two lines, this prevents it */
	white-space: nowrap;
}

.custom-checkbox:has(.custom-checkbox-input:checked) > .custom-checkbox-label {
	color: var(--color-clickable-item-secondary);
}

.custom-checkbox:has(.custom-checkbox-input:hover) > .custom-checkbox-label {
	color: var(--color-clickable-item-secondary);
}

.custom-checkbox:has(.custom-checkbox-input:disabled) > .custom-checkbox-label {
	color: var(--color-text-placeholder);
	text-decoration: line-through;
	cursor: not-allowed;
}

.custom-checkbox:has(.custom-checkbox-input) > .custom-checkbox-button {
	flex: 0 0 auto;
	
	margin: 0px;
	padding: var(--section-padding);
	box-sizing: border-box;
	
	background-color: var(--color-input-primary);
	border-radius: var(--border-radius);
	
	position: relative;
}

.custom-checkbox:has(.custom-checkbox-input:checked) > .custom-checkbox-button {
	background-color: var(--color-clickable-item-primary);
}

.custom-checkbox:has(.custom-checkbox-input:hover) > .custom-checkbox-button {
	background-color: var(--color-clickable-item-secondary);
}

.custom-checkbox:has(.custom-checkbox-input:disabled) > .custom-checkbox-button {
	background-color: var(--color-clickable-item-disabled);
	cursor: not-allowed;
}

.custom-checkbox:has(input[type="checkbox"]) > .custom-checkbox-button::after {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	
	font-size: var(--font-size-plain);
	color: var(--color-text-placeholder);
	content: "\2713";
}

.custom-checkbox:has(.custom-checkbox-input:checked) > .custom-checkbox-button::after {
	color: var(--color-clickable-item-secondary);
}

.custom-checkbox:has(.custom-checkbox-input:hover) > .custom-checkbox-button::after {
	color: var(--color-clickable-item-primary);
}

.custom-checkbox:has(.custom-checkbox-input:disabled) > .custom-checkbox-button::after {
	font-size: var(--font-size-plain);
	color: var(--color-text-placeholder);
	content: "\2716";
}
