.custom-checkbox-input {
	position: absolute;
	opacity:  0;
	z-index:  -1;
	
	width:   0;
	height:  0;
	margin:  0;
	padding: 0;
}

.custom-checkbox:has(.custom-checkbox-input) {
	margin:  var(--element-gap-small);
	padding: 0;
	
	width:   fit-content;
	display: inline-flex;
	
    justify-content: center;
    align-items:     center;
	
	cursor: pointer;
}

.custom-checkbox:has(.custom-checkbox-input:focus) {
	outline:        var(--size-outline-width) solid var(--color-outline);
	outline-offset: var(--size-outline-offset);
	border-radius:  var(--size-border-radius);
}

.custom-checkbox:has(.custom-checkbox-input) > .custom-checkbox-label {
	flex: 0 0 auto;
	
	margin:     0;
	padding:    var(--element-gap-medium);
	box-sizing: border-box;
	
	color: var(--color-checkbox-text);
	
	/* Prevent splitting text into lines */
	white-space: nowrap;
	
	user-select: none;
}

.custom-checkbox:has(.custom-checkbox-input:checked) > .custom-checkbox-label {
	color: var(--color-checkbox-text-checked);
}

.custom-checkbox:has(.custom-checkbox-input:hover) > .custom-checkbox-label {
	color: var(--color-checkbox-text-hover);
}

.custom-checkbox:has(.custom-checkbox-input:disabled) > .custom-checkbox-label {
	color: var(--color-checkbox-text-disabled);
	
	text-decoration: line-through;
	cursor:          not-allowed;
}

.custom-checkbox:has(.custom-checkbox-input) > .custom-checkbox-button {
	flex: 0 0 auto;
	
	margin:     0;
	padding:    var(--element-gap-medium);
	box-sizing: border-box;
	
	background-color: var(--color-checkbox-body);
	border-radius:    var(--size-border-radius);
	
	position: relative;
	
	user-select: none;
}

.custom-checkbox:has(.custom-checkbox-input:checked) > .custom-checkbox-button {
	background-color: var(--color-checkbox-body-checked);
}

.custom-checkbox:has(.custom-checkbox-input:hover) > .custom-checkbox-button {
	background-color: var(--color-checkbox-body-hover);
}

.custom-checkbox:has(.custom-checkbox-input:disabled) > .custom-checkbox-button {
	background-color: var(--color-checkbox-body-disabled);
	
	cursor: not-allowed;
}

.custom-checkbox:has(input[type="checkbox"]) > .custom-checkbox-button::after {
	position:  absolute;
	left:      50%;
	top:       50%;
	transform: translate(-50%,-50%);
	
	font-size: var(--font-size-plain);
	color:     var(--color-checkbox-mark);
	content:   "\2716";
	
	user-select: none;
}

.custom-checkbox:has(.custom-checkbox-input:checked) > .custom-checkbox-button::after {
	color:   var(--color-checkbox-mark-text-checked);
	content: "\2713";
}

.custom-checkbox:has(.custom-checkbox-input:hover) > .custom-checkbox-button::after {
	color: var(--color-checkbox-mark-hover);
}

.custom-checkbox:has(.custom-checkbox-input:disabled) > .custom-checkbox-button::after {
	color: var(--color-checkbox-mark-disabled);
}
