.custom-fileupload-input {
	opacity: 0;
	width:   0;
	height:  0;
	margin:  0;
	padding: 0;
}

.custom-fileupload {
	display: flex;
	
	align-items: center;
	
	cursor: pointer;
}

.custom-fileupload-button {
	display: inline-block;
	flex:    1;
	
	background-color: var(--color-textinput-body);
	color:            var(--color-text-placeholder);
	
	font-family: var(--font-content);
	font-size:   var(--font-size-plain);
	
	border-radius: var(--size-border-radius);
	border:        0;
	box-sizing:    border-box;
	padding:       var(--element-gap-medium);
	margin-top:    var(--element-gap-small);
	margin-bottom: var(--element-gap-small);
	
	text-overflow: ellipsis;
	overflow-x:    hidden;
	white-space:   nowrap;
	
	outline: none;
}

.custom-fileupload-button.has-file {
	color: var(--color-text);
}

.custom-fileupload-button:hover {
	background-color: var(--color-textinput-body-hover);
}

.custom-fileupload-button:focus {
	background-color: var(--color-textinput-body-focus);
}
