.custom-searchable-select {
	position: relative;
	width: 100%;
	display: inline-block;
}

.custom-searchable-select-sent-value {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.custom-searchable-select-sent-value,
.custom-searchable-select-shown-value {
	display: block;
	
	background-color: var(--color-input-primary);
	color: var(--color-text);
	
	border: 0;
	border-radius: var(--border-radius);
	outline: none;
	
	font-family: var(--font-content);
	font-size: var(--font-size-plain);
	text-align: left;
	
	box-sizing: border-box;
	padding: var(--section-padding);
	padding-right: calc(var(--section-padding) + 36px); /* for arrow */
	margin-top: var(--text-margin);
	margin-bottom: var(--text-margin);

	cursor: pointer;
	
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	
	background-image: linear-gradient(45deg, transparent 50%, var(--color-clickable-item-secondary) 50%),
	                  linear-gradient(135deg, var(--color-clickable-item-secondary) 50%, transparent 50%),
					  linear-gradient(0deg, var(--color-clickable-item-primary), var(--color-clickable-item-primary));
	
	background-position: right 17.5px top 50%,
	                     right 13.5px top 50%,
						 right 0px  top 0px;
	
	background-size: 5px 5px,
	                 5px 5px,
	                 36px 100%;
	
	background-repeat: no-repeat,
	                   no-repeat,
					   no-repeat;
}

.custom-searchable-select-shown-value:disabled {
	cursor: not-allowed;
	
	background-image: linear-gradient(45deg, transparent 50%, var(--color-text-placeholder) 50%),
	                  linear-gradient(135deg, var(--color-text-placeholder) 50%, transparent 50%),
					  linear-gradient(0deg, var(--color-input-secondary), var(--color-input-secondary));
	
	background-position: right 17.5px top 50%,
	                     right 13.5px top 50%,
						 right 0px  top 0px;
	
	background-size: 5px 5px,
	                 5px 5px,
	                 36px 100%;
	
	background-repeat: no-repeat,
	                   no-repeat,
					   no-repeat;
}

.custom-searchable-select-shown-value:hover:not([disabled]),
.custom-searchable-select-shown-value:focus:not([disabled]) {
	background-color: var(--color-input-secondary);
	
	background-image: linear-gradient(45deg, transparent 50%, var(--color-clickable-item-primary) 50%),
	                  linear-gradient(135deg, var(--color-clickable-item-primary) 50%, transparent 50%),
					  linear-gradient(0deg, var(--color-clickable-item-secondary), var(--color-clickable-item-secondary));
	
	background-position: right 17.5px top 50%,
	                     right 13.5px top 50%,
						 right 0px  top 0px;
	
	background-size: 5px 5px,
	                 5px 5px,
	                 36px 100%;
	
	background-repeat: no-repeat,
	                   no-repeat,
					   no-repeat;
}

.custom-searchable-select-shown-value:focus:read-only {
	cursor: not-allowed;
}

.custom-searchable-select-shown-value:focus:not([disabled]):not([readonly]) {
	cursor: auto;
}

.custom-searchable-select-shown-value::placeholder {
	color: var(--color-text-placeholder);
}

.custom-searchable-select-option-container {
	display: none;
	position: absolute;
	z-index: 99999;
	
	width: 100%;
	max-height: 259.2px;
	padding: 0;
	margin: 0;
	
	scrollbar-color: var(--color-clickable-item-primary) var(--color-input-primary);
	overflow-y: scroll;
	
	background-color: var(--color-input-secondary);
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
	list-style-type: none;
}

.custom-searchable-select-option {
	cursor: pointer;
	padding: var(--section-padding);
}

.custom-searchable-select-option[disabled] {
	cursor: not-allowed;
}

.custom-searchable-select-option:hover {
	background-color: var(--color-input-primary);
}

.custom-searchable-select-option:hover:first-child {
	border-top-left-radius: var(--border-radius);
}

.custom-searchable-select-option:hover:last-child {
	border-bottom-left-radius: var(--border-radius);
}

.custom-searchable-select-option-shown-value,
.custom-searchable-select-option-shown-hint {
	width: 100%;
	
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	
	min-height: 1lh;
}

.custom-searchable-select-option-shown-hint {
	color: var(--color-text-placeholder);
}

.custom-searchable-select-option[disabled] > .custom-searchable-select-option-shown-value,
.custom-searchable-select-option[disabled] > .custom-searchable-select-option-sent-value {
	text-decoration: line-through;
}
