/* Select */

.custom-select {
	appearance: none;
	
	background-color: var(--color-textinput-body);
	color:            var(--color-text);
	scrollbar-color:  var(--color-button-body) var(--color-textinput-body);
	
	border:        0;
	border-radius: var(--size-border-radius);
	
	font-family: var(--font-content);
	font-size:   var(--font-size-plain);
	
	box-sizing:    border-box;
	padding:       var(--element-gap-medium);
	padding-right: calc(var(--element-gap-medium) + 36px); /* for arrow */
	margin-top:    var(--element-gap-small);
	margin-bottom: var(--element-gap-small);
	
	cursor: pointer;
	
	width:         100%;		/* Fix select's width and use ellipsis when it's too long */
	min-height:    42.4px;		/* Prevent decreasing height when empty */
	text-overflow: ellipsis;
	overflow-x:    hidden;
	white-space:   nowrap;
	
	outline: none;
}

.custom-select:disabled {
	background-color: var(--color-textinput-body-disabled);
	color:            var(--color-text-disabled);
	
	cursor: not-allowed;
	
	/* Some browsers change opacity */
	opacity: 1;
}

.custom-select:hover:not([disabled]) {
	background-color: var(--color-textinput-body-hover);
	color:            var(--color-text-hover);
	
	outline: none;
}

.custom-select:focus:not([disabled]) {
	background-color: var(--color-textinput-body-focus);
	color:            var(--color-text-focus);
	
	outline: none;
}

.custom-select[multiple] {
	padding-right: var(--element-gap-medium); /* use arrow space */
	
	outline: none;
}

.custom-select:not([multiple]):not([disabled]) {
	background-image: linear-gradient(45deg, transparent 50%, var(--color-button-text) 50%),
	                  linear-gradient(135deg, var(--color-button-text) 50%, transparent 50%),
					  linear-gradient(0deg, var(--color-button-body), var(--color-button-body));
	
	background-position: right 17.5px top 50%,
	                     right 13.5px top 50%,
						 right 0px  top 0px;
	
	background-size: 5px 5px,
	                 5px 5px,
	                 36px 100%;
	
	background-repeat: no-repeat,
	                   no-repeat,
					   no-repeat;
}

.custom-select:hover:not([multiple]):not([disabled]) {
	background-image: linear-gradient(45deg, transparent 50%, var(--color-button-text-hover) 50%),
	                  linear-gradient(135deg, var(--color-button-text-hover) 50%, transparent 50%),
					  linear-gradient(0deg, var(--color-button-body-hover), var(--color-button-body-hover));
	
	background-position: right 17.5px top 50%,
	                     right 13.5px top 50%,
						 right 0px  top 0px;
	
	background-size: 5px 5px,
	                 5px 5px,
	                 36px 100%;
	
	background-repeat: no-repeat,
	                   no-repeat,
					   no-repeat;
}

.custom-select:disabled:not([multiple]) {
	background-image: linear-gradient(45deg, transparent 50%, var(--color-button-text-disabled) 50%),
	                  linear-gradient(135deg, var(--color-button-text-disabled) 50%, transparent 50%),
					  linear-gradient(0deg, var(--color-button-body-disabled), var(--color-button-body-disabled));
	
	background-position: right 17.5px top 50%,
	                     right 13.5px top 50%,
						 right 0px  top 0px;
	
	background-size: 5px 5px,
	                 5px 5px,
	                 36px 100%;
	
	background-repeat: no-repeat,
	                   no-repeat,
					   no-repeat;
}

.custom-select-filler {
	box-sizing:    border-box;
	padding:       var(--element-gap-medium);
	padding-right: calc(var(--element-gap-medium) + 36px); /* for arrow */
	
	display: none;
	color:   transparent;
	z-index: -9999;
	
	margin-top:    var(--element-gap-small);
	margin-bottom: var(--element-gap-small);
}

.custom-select-option {
	text-overflow: ellipsis;
	overflow:      hidden;
	white-space:   nowrap;
	box-sizing:    border-box;
	
	padding: 0;
	
	border-radius: calc(var(--size-border-radius)/2);
}

.custom-select-option:checked,
.custom-select-option:hover:not([disabled]) {
	background: var(--color-button-body)
	            linear-gradient(0deg, var(--color-button-body) 0%,
				var(--color-button-body) 100%);
	
	color: var(--color-button-text);
}

.custom-select-option:disabled {
	color: var(--color-text-disabled);
	
	cursor: not-allowed;
}

.custom-select-option:hover:disabled {
	background-color: var(--color-textinput-body);
}
