.custom-input[type="text"],
.custom-input[type="number"],
.custom-input[type="password"],
.custom-input[type="email"],
.custom-input[type="tel"],
.custom-input[type="url"],
.custom-input[type="search"] {
	display: inline-block;
	
	background-color: var(--color-textinput-body);
	color:            var(--color-text);
	
	font-family: var(--font-content);
	font-size:   var(--font-size-plain);
	
	border-radius: var(--size-border-radius);
	border:        0;
	
	box-sizing:    border-box;
	padding:       var(--element-gap-medium);
	margin-top:    var(--element-gap-small);
	margin-bottom: var(--element-gap-small);
	
	text-overflow: ellipsis;
	overflow-x:    hidden;
	white-space:   nowrap;
	
	cursor: text;
	
	outline: none;
}

.custom-input[type="text"]:read-only,
.custom-input[type="password"]:read-only,
.custom-input[type="email"]:read-only,
.custom-input[type="tel"]:read-only,
.custom-input[type="url"]:read-only,
.custom-input[type="search"]:read-only {
	background-color: var(--color-textinput-body-readonly);
	color:            var(--color-text-readonly);
	
	cursor: not-allowed;
}

.custom-input[type="text"]:disabled,
.custom-input[type="password"]:disabled,
.custom-input[type="email"]:disabled,
.custom-input[type="tel"]:disabled,
.custom-input[type="url"]:disabled
.custom-input[type="search"]:disabled {
	background-color: var(--color-textinput-body-disabled);
	color:            var(--color-text-disabled);
	
	cursor: not-allowed;
}

.custom-input[type="text"]:hover:not([disabled]):not([readonly]),
.custom-input[type="password"]:hover:not([disabled]):not([readonly]),
.custom-input[type="email"]:hover:not([disabled]):not([readonly]),
.custom-input[type="tel"]:hover:not([disabled]):not([readonly]),
.custom-input[type="url"]:hover:not([disabled]):not([readonly]),
.custom-input[type="search"]:hover:not([disabled]):not([readonly]) {
	background-color: var(--color-textinput-body-hover);
	color:            var(--color-text-hover);
	
	outline: none;
}

.custom-input[type="text"]:focus:not([disabled]):not([readonly]),
.custom-input[type="password"]:focus:not([disabled]):not([readonly]),
.custom-input[type="email"]:focus:not([disabled]):not([readonly]),
.custom-input[type="tel"]:focus:not([disabled]):not([readonly]),
.custom-input[type="url"]:focus:not([disabled]):not([readonly]),
.custom-input[type="search"]:focus:not([disabled]):not([readonly]) {
	background-color: var(--color-textinput-body-focus);
	color:            var(--color-text-focus);
	
	outline: none;
}

.custom-input[type="text"]::placeholder,
.custom-input[type="password"]::placeholder,
.custom-input[type="email"]::placeholder,
.custom-input[type="tel"]::placeholder,
.custom-input[type="url"]::placeholder,
.custom-input[type="search"]::placeholder {
	color: var(--color-text-placeholder);
}
