section:has(table) {
	display: flex;
	flex-direction: column;
}

table {
	margin: var(--section-padding);
	
	table-layout: fixed;
	border: 0px;
	border-collapse: collapse;
}

td, th {
	padding: var(--section-padding);
	border: 0px;
}

tr:first-child {
	text-align: center;
}

tr > *:nth-child(1), tr > *:nth-child(2) {
	width: 10%;
}

tr > *:last-child {
	width: 20%;
}

tr > *:nth-child(1), tr > *:nth-child(2), tr > *:last-child {
	vertical-align: center;
	text-align: center;
}

tr > td:last-child > a {
	display: block;
}

/* Selection */

tr:hover {
	background-color: var(--color-input-secondary);
}

tr:hover > *:first-child {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

tr:hover > *:last-child {
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

@media (max-width: 1023px) {
	section > table th:last-child,
	section > table td:last-child {
		display: none;
	}
}
