input[type="text"].captcha-input {
	font-family: var(--font-security);
	font-size: 32px;
}

img.captcha-image {
	border-radius: var(--border-radius);
	margin-top: var(--text-margin);
	margin-bottom: var(--text-margin);
}
