@font-face {
	font-family: Juliamo;
	src: url('/fonts/juliamo.woff2') format('woff2'),
	     url('/fonts/juliamo.ttf') format('truetype');
}

:root {
	--font-captcha: Juliamo;
}

input[type="text"].captcha-input {
	font-family: var(--font-captcha);
	font-size: 32px;
	line-height: normal; /* If a space is entered, the text goes down without it */
}

img.captcha-image {
	border-radius: var(--border-radius);
	margin-top: var(--text-margin);
	margin-bottom: var(--text-margin);
}
