input[type="text"].captcha-input {
	font-family: var(--font-security);
	font-size:   var(--font-size-security);
}

img.captcha-image {
	border-radius: var(--size-border-radius);
	margin-top:    var(--element-gap-small);
	margin-bottom: var(--element-gap-small);
}
