section.main-entity,
section.related-entity,
section.list-entity {
	display: flex;
}

section.main-entity > img,
section.related-entity > img,
section.list-entity > img {
	border-radius: var(--image-border-radius);
	object-fit: contain;
}

section.main-entity > img {
	width: var(--image-size-big);
	height: var(--image-size-big);
}

section.related-entity > img {
	width: var(--image-size-medium);
	height: var(--image-size-medium);
}

section.list-entity > img {
	width: var(--image-size-small);
	height: var(--image-size-small);
}

/* Mobile Devices */

@media (max-width: 1023px) {
	section.main-entity > img {
		display: none;
	}
	
	section.related-entity > img {
		display: none;
	}
}
