.filter-section {
	display: flex;
	gap:     var(--element-gap-big);
}

.filter-section > input {
	flex: 4 1 0;
}

.filter-section > .custom-button {
	flex: 1 1 0;
}

/* Results Limit, Pagination, Search */

.search-section {
	display: flex;
	gap:     var(--element-gap-big);
}

.search-section > section > section {
	text-align: center;
}

/* Results Limit */

.search-section > section:nth-child(1) {
	flex: 1 1 0;
}

.results-limit > .custom-searchable-select {
	text-align:      center;
	text-align-last: center;
}

.results-limit > .custom-searchable-select > .custom-searchable-select-shown-value {
	text-align:      center;
	text-align-last: center;
	
	padding-left: calc(var(--element-gap-medium) + 36px);
}

/* Pagination */

.search-section > section:nth-child(2) {
	flex: 3 1 0;
}

.pagination {
	text-align: center;
}

/* Search */

.search-section  > section:nth-child(3) {
	flex: 1 1 0;
}

.search-elements {
	display: flex;
	gap:     var(--element-gap-medium);
}

.search-elements > input {
	flex: 1 1 0;
}

/* Pagination Button */

.pagination-button {
	display:    inline-block;
	
	/* Maximum: first page, dots, 7 pages, dots, last page => 11 buttons */
	width: calc(100% / 11);
	
	box-sizing:    border-box;
	margin-top:    var(--element-gap-small);
	margin-bottom: var(--element-gap-small);
	padding:       var(--element-gap-medium);
	border:        0;
	outline:       none;
	
	background-color: var(--color-button-body);
	color:            var(--color-button-text);
	
	font-size:       var(--font-size-plain);
	text-decoration: none;
	
	text-align:    center;
	align-content: center;
	
	cursor: pointer;
	
	border-image: linear-gradient(
		to bottom,
		var(--color-button-body) 25%,
		var(--color-button-text) 50%,
		var(--color-button-body) 75%
	) 1;
	border-right-width: 2px;
	border-right-style: solid;
}

.pagination-button:last-child {
	border-right-width: 0px;
}

.pagination-button:hover {
	background-color: var(--color-button-body-hover);
	color:            var(--color-button-text-hover);
}

.pagination-button:focus {
	background-color: var(--color-button-body-focus);
	color:            var(--color-button-text-focus);
}

.pagination-button.disabled {
	background-color: var(--color-button-body-disabled);
	color:            var(--color-button-text-disabled);
	
	cursor: not-allowed;
}

.pagination-button.current {
	background-color: var(--color-button-body-focus);
	color:            var(--color-button-text-focus);
	
	cursor: not-allowed;
}

.pagination-button:first-child {
	border-bottom-left-radius: var(--size-border-radius);
	border-top-left-radius:    var(--size-border-radius);
}

.pagination-button:last-child {
	border-bottom-right-radius: var(--size-border-radius);
	border-top-right-radius:    var(--size-border-radius);
}

/* Mobile Devices */

@media (max-width: 1023px) {
	.filter-section > a {
		display: none;
	}
	
	.search-section > section:nth-child(1),
	.search-section > section:nth-child(3)	{
		display: none;
	}
}
